html {
  scroll-behavior: smooth;
}

/* scrollbar modifications */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #021227;
  border-radius: 10px;
  color: #021227;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3cba54;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3cba5399;
}

/* project section feature */

.featured-project-img-01 {
  background-image: linear-gradient(
    to bottom,
    rgba(25, 254, 67, 0),
    rgba(25, 254, 67, 0)
  );

  transition: background-image 0.5s;
  position: relative;
  color: #ffffff78;
}
.sticky-nav {
  position: fixed;
  top: 0;
  height: 15%;
  width: 100%;
  background-color: #021227;
  z-index: 1000;
  padding-top: 25px;
}

.featured-project-img-01::before {
  content: "";
  width: 100%;
  display: block;

  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;

  background-image: linear-gradient(
    to bottom,
    rgba(2, 22, 49, 0.5),
    rgba(2, 22, 48, 0.5)
  );

  transition: width 1s ease-in-out;
}
.featured-project-img-01:hover:before {
  width: 0%;
}

/* hiding img scrollbars */

.featured-project-img-01-div::-webkit-scrollbar {
  display: none;
}
.featured-project-img-01-div {
  -ms-overflow-style: none; /* E.g Internet Explorer, Edge... */
  scrollbar-width: none; /* E.g Firefox */
}


/* project mentions */

.mentions-project:hover .mentions-project-img {
  display: none;
}
.mentions-project:hover .mentions-project-div {
  display: block;
}
.mentions-project {
  background-image: linear-gradient(
    to bottom,
    rgba(25, 254, 67, 0),
    rgba(25, 254, 67, 0)
  );

  transition: background-image 0.5s;
  position: relative;
}

.mentions-project::after {
  content: "";

  display: block;

  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;

  background-image: linear-gradient(
    to bottom,
    rgba(2, 22, 49, 0.5),
    rgba(2, 22, 48, 0.5)
  );

  transition: width 1s ease-in-out;
}
.mentions-project:hover:after {
  width: 0%;
}

/* Typing animation for the first p and h2 tags */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.typing {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #309543; 
  width: 0;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

.typing-delay {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #247032;
  width: 0;
  animation: typing 4s steps(40, end) 4s forwards, blink-caret 0.75s step-end infinite;
}

/* Repeating the typing after the second finishes */
.typing {
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}


/* Writing animation for the first p and h2 tags */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.writing {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #309543; 
  width: 0;
  animation: typing 6s steps(40, end), blink-caret 0.75s step-end infinite;
}

.writing-delay {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #247032;
  width: 0;
  animation: typing 10s steps(40, end) 4s forwards, blink-caret 0.75s step-end infinite;
}

/* Repeating the typing after the second finishes */
.writing {
  animation: typing 6s steps(40, end), blink-caret 0.75s step-end infinite;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}